<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>C:\myRetailLogs\target\target.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
    	<fileNamePattern>C:\myRetailLogs\target\%d{yyyy-MM-dd}.%i.log</fileNamePattern>
    	<maxFileSize>100MB</maxFileSize>  </rollingPolicy>
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
    </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    
      <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration> 